
<app-standard-navbar *ngIf="!isLoggedIn"></app-standard-navbar>

<app-prop-navbar *ngIf="role === 'Proprietaire'"></app-prop-navbar>
<app-client-navbar *ngIf="role === 'Client'"></app-client-navbar>



<main class="main-content">
  <h1>Bienvenue sur notre site de location de maisons d’hôtes</h1>
  <p>
    Ici, vous pouvez découvrir nos différentes offres de maisons d’hôtes,
    et réserver celle qui vous convient le mieux !
  </p>
  <!-- Ajoutez vos sections, images, etc. -->

</main>

<app-footer></app-footer>

